  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

.head { grid-area: 1 / 1 / 2 / 2; }
.articlediv { grid-area: 2 / 1 / 3 / 2; }

.articleparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .articlediv1 { grid-area: 1 / 1 / 2 / 2; }
    .articlediv2 { grid-area: 1 / 2 / 2 / 3; }
    .articlediv3 { grid-area: 1 / 3 / 2 / 4; }