.wrapper {
    display: flex; 
    flex-direction: column;
}

.form { display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .articleparent {
        display: flex;
        flex-direction: column;
      
        }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .articleparent {
        display: flex;
        flex-direction: column;
      
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .articleparent {
        display: flex;
        flex-direction: row;
      
        }
    
}
